html {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    font-family: Geologica, serif;
}

.gameContainer{
    background-color: beige;
    align-items: center;
    justify-content: center;

}

.roundtext{
    background-color: bisque;
}

.roundtext p {
    display: flex;
    justify-content: center;
}

.gametext1,
.gametext2 {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
}

.gametext2 {
    min-height: 100px;
}

.gametext3{
    display: flex;
    justify-content: center;
    min-height: 85px;
}

.buttondiv, 
.winnerDiv,
.endDiv{
    display: flex;
    justify-content: center;
}




